<div class="nav">
    <div class="wnav">
        <div class="nav-list">
            <a class="logo" href="./index.html">Enrollment Sys.</a>

            <ul>
                <li><a href="#" class="dropMenu">中心</a>
                    <ul>
                        <li><a href="#">中心列表</a></li>
                        <li><a href="#">添加中心</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropMenu">会员</a>
                    <ul>
                        <li><a href="./member-update.html">新建会员</a></li>
                        <li><a href="./memberlist.html">会员列表</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropMenu">销售单</a>
                    <ul>
                        <li><a href="#">新建销售单</a></li>
                        <li><a href="#">销售单列表</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropMenu">统计报表</a>
                    <ul>
                        <li><a href="./report-cc01.html">CC业绩报表</a></li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">登录</span>
            </span>
            <span class="user login">
                <span class="link-text">
                    欢迎，
                    <span class="username"></span>
                </span>
                <span class="link js-logout">退出</span>
            </span>
        </div>
    </div>
</div>