/*
* @Author: Rosen
* @Date:   2017-05-17 11:26:31
* @Last Modified by:   gongkelvin
* @Last Modified time: 2018-03-29 10:15:00
*/

.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;   
}

.nav .logo{
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}
.nav-simple{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 13px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}